.body {
    padding: 0;
    margin: 0;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between;
}
 
.header {
    background-color: #1d3144;
    padding: 10px 0;
} 

.logo img {
    max-width: 100px;
}
.navbar {
    justify-content: flex-end;
}
.secondary-nav {
    margin-top: 20px;
}
.secondary-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 2px;
}
.secondary-nav .container {
    justify-content: flex-end;
    display: flex;
}
.hero-section {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    color: white;
}
.hero-section .content {
    padding: 10px;
    margin: 10px;
    background-color: #1d3144;
}

.row {
    padding: 10px;
    margin: 10px;
    background-color: rgb(19, 16, 22);
}

.inset_right_large {
    padding-right: 4rem;
}

.group_3of4 {
    width: 74.125%;
}
/* 
.first {
    float: left;
    margin-right: 3.5%;
} */


.wrapper {
    margin: 20px;
    max-width: 1200px; 
    padding: 5px;
    background-color: #1d3144;
   
}


.header_bar {
    color: #718699;
    margin: 20px;
    padding: 5px;
  
}

.number {
    font-size: 2.5em;
    font-weight: bolder;
    /* margin-bottom: 0.75em; */
    
    color: #e4edf5;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

/* 
.first {
    float: left;
    margin-right: 3.5%;
} */

.lead {
    font-size: 1.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #494394;
    /* margin: 0 0 1.5em 0;
    margin-bottom: 2em; */
}

.h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.text_purple {
    color: #652D88;
}

.trainingdog {
    margin-right: 10px;
    padding-right: 5px;
}

.h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
}
 
.Eclasses {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .95em;
    line-height: 1.6em;

}

.container1{
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
}

.newmoney {
    flex: 1;
    padding-right: 20px;
}

.image {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
}

.manners1 img {
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 50px;  
}

/* .manners1  {
    border-style: none;
} */

.Puppy h1{
    text-decoration: underline;
    color: #652D88;
    font-size: 2px;
    line-height: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    /* letter-spacing: 0; */
}


.Adolescent h1 {
    text-decoration: underline;
    color: #652D88;
    font-size: 2px;
    line-height: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    /* letter-spacing: 0; */
}

.manners2 img{
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 2px; 
} 
 
.GoodManners h1 {
    text-decoration: underline;
    color: #652D88;
    font-size: 2px;
    line-height: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    /* letter-spacing: 0; */
}

.manners3 img{
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 2px; 
}

.Rowdy h1 {
    text-decoration: underline;
    color: #652D88;
    font-size: 2px;
    line-height: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    /* letter-spacing: 0; */
} 
 
.manners4 img{
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 2px; 
}

.Drop h1 {
    text-decoration: underline;
    color: #652D88;
    font-size: 2px;
    line-height: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    /* letter-spacing: 0; */
}

.manners5 img{
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 2px; 
}

.RealLife h1 {
    text-decoration: underline;
    color: #652D88;
    font-size: 2px;
    line-height: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    /* letter-spacing: 0; */
} 
 
.manners6 img{
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 2px; 
}

.Steps h1 {
    text-decoration: underline;
    color: #652D88;
    font-size: 2px;
    line-height: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    /* letter-spacing: 0; */

}

.manners7 img{
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 2px; 
}

.TheraPets h1 {
    text-decoration: underline;
    color: #652D88;
    font-size: 2px;
    line-height: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    /* letter-spacing: 0; */

}

.manners8 img{
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 2px; 
} 
 
.TrainingClass h1 {
    text-decoration: underline;
    color: #652D88;
    font-size: 2px;
    line-height: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    /* letter-spacing: 0; */
}

.manners9 img{
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 2px; 
}

.BetterManners h1 {
    text-decoration: underline;
    color: #652D88;
    font-size: 2px;
    line-height: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    /* letter-spacing: 0; */
} 

.manners10 img{
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 2px; 
}


.PuppyLife h1 {
    text-decoration: underline;
    color: #652D88;
    font-size: 1.2em;
    line-height: 2px;
    margin-bottom: 5px;
    font-weight: 600;
    /* letter-spacing: 0; */
}

.manners11 img{
    position: relative;
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 2px; 
} 
